
/* @media (max-width: 768px) { */
    /* css mobile */
    .btn1, .btn2, .btn3, .btn4,.btn4_1, .btn5, .btn6, .btn7, .btn8, .btn9,.btn10,.btn11,.btn12,.btn13,.btn14,.btn15 {
        padding: 15px; 
    margin: 10px; 
    font-size: 35px;
    width: 100%;
    height: 200px;
    font-weight: bold;
    color: white;
    }
.btn1{
    background-color: rgb(101, 1, 1);
}
.btn2{
    background-color:  rgb(61, 1, 1);
}
.btn3{
    background-color: darkviolet;
}
.btn4{
    background-color: rgb(90, 0, 128);
}
.btn4_1{
    background-color: darkblue;
}
.btn5{
    background-color: rgb(0, 0, 94);
}
.btn6{
    background-color: darkcyan;
}
.btn7{
    background-color: rgb(0, 83, 83);
}
.btn8{
    background-color: darkgreen;
}
.btn9{
    background-color: rgb(0, 54, 0);
}
.btn10{
    background-color: darkgoldenrod;
}
.btn11{
    background-color: rgb(105, 77, 6);
}
.btn12{
    background-color: rgb(168, 92, 0);
}
.btn13{
    background-color: rgb(88, 48, 1);
}
.btn14{
    background-color: rgb(151, 0, 0);
}
.btn15{
    background-color: rgb(104, 0, 0);
}
/* } */

   /* Styles pour les ordinateurs */
/* @media (min-width: 769px) {
    .btn1{
        padding: 15px; 
        margin: 10px; 
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
    .btn2{
        padding: 15px; 
        margin: 10px; 
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
    .btn3{
        padding: 15px; 
        margin: 10px; 
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
    .btn4{
        padding: 15px; 
        margin: 10px; 
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
    .btn5{
        padding: 15px; 
        margin: 10px; 
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
    .btn6{
        padding: 15px; 
        margin: 10px; 
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
    .btn7{
        padding: 15px; 
        margin: 10px; 
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
    .btn8{
        padding: 15px; 
        margin: 10px; 
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
} */

body{
    background-color: black;
}
h1{
    color: white;
}
p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}